---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
	<p><em>{frontmatter.description}</em></p>
	<ul>
		{
			frontmatter.tags.map((tag: any) => (
				<li>
					<a href={tag}>{tag}</a>
				</li>
			))
		}
	</ul>
	<p>Written by: {frontmatter.author}</p>
	<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
	<slot />
</BaseLayout>
